<div class="container">
  <h2>
    Sign up
  </h2>

  <form action="#" name="formToSignUp" novalidate>

    <div class="row">

      First name:
      <input type="text" name="firstName" id="firstName" ng-model="signUpCtrlForm.firstName" placeholder="First Name" class="form-control" style="width:50%" required>
      <span ng-if="(formToSignUp.firstName.$error.minlength || formToSignUp.firstName.$error.required) && formToSignUp.firstName.$touched"
            style="color: red">First name is required</span>

      <br>
      Last Name:
      <input type="text" name="lastName" id="lastName" ng-model="signUpCtrlForm.lastName" placeholder="Last Name" class="form-control" style="width:50%" required>
      <span ng-if="(formToSignUp.lastName.$error.minlength || formToSignUp.lastName.$error.required) && formToSignUp.lastName.$touched"
            style="color: red">Last Name is required</span>

      <br>
      E-mail:
      <input type="email" name="email" id="email" ng-model="signUpCtrlForm.email" placeholder="E-mail" minlength="4" class="form-control" style="width:50%" required>
      <span ng-if="(formToSignUp.email.$invalid || formToSignUp.email.$error.required) && formToSignUp.email.$touched"
            style="color: red">E-mail address is invalid</span>


      <br>
      Phone Number:
      <input type="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="###-###-####" ng-model="signUpCtrlForm.phoneNumber" pattern="(\d{3})-(\d{3})-(\d{4})" class="form-control" style="width:50%" required>
      <span ng-if="formToSignUp.phoneNumber.$invalid && formToSignUp.phoneNumber.$touched"
            style="color: red">Invalid phone number</span>


      <br>
      Menu Code:
      <input type="menuCode" name="menuCode" id="menuCode" ng-model="signUpCtrlForm.menuCode" placeholder="Code of the menu" maxlength="2" class="form-control" style="width:50%">


      <br>
      <button class="btn btn-warning" ng-disabled="formToSignUp.$invalid" ng-click="signUpCtrlForm.signUp($event)">Submit</button>

      <br><br>

      <div ng-if="signUpCtrlForm.registration">
        <div>Your information has been saved.</div>
      </div>

    </div>










  </form>


</div>
