<div class="container">


  <div class="row" ng-if="myInfoCtrl.valoriz">

    <h2>
      My Info
    </h2>


    Fist Name: {{myInfoCtrl.firstName}}
    <br>
    Last Name: {{myInfoCtrl.lastName}}
    <br>
    E-mail: {{myInfoCtrl.email}}
    <br>
    Phone Number: {{myInfoCtrl.phoneNumber}}
    <br>
    Menu Code: {{myInfoCtrl.menuCode}}


    <br><br><br>




    <div class="col-md-8" ng-repeat="item in myInfoCtrl.personalDish1.menu_items">
      <br>
      <div class="col-md-8 pull-right">

        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
        </div>

        <img class="img-responsive" ng-src="https://ajaouani-course5.herokuapp.com/images/{{item.short_name}}.jpg" class="pull-left">

    </div>


  </div>


  <div ng-if="!myInfoCtrl.valoriz">
    Not Signed Up Yet. <a ui-sref="public.signUpForm">Sign up Now!</a>
  </div>


</div>
